@charset "UTF-8";
body{
    margin: 0px;
    background-image: url(../image/5.png);
    background-size: 100%;
}
header{
    width: 60%;
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
    font-size: 70px;
    float: left;
}
#realCharts{
    height: 400px;
    width: 600px;
    float: right;
    transition: 0.5 1s;
    
}
#realCharts :hover{
    background-color: rgb(181, 209, 21);
    opacity: 1;
    transition-duration: 1.5s;
}
button{
    outline-style: none;
}
.GuestInfo{
    text-align: center;
    width: 100%;
    float: left;
}
.room{
    font-size: 25px;
    text-align: left;
    width: 50%;
    height: 50px;
    float: left;
    font-weight: 1000;
    padding-left: 10%;
    color: rgb(15, 71, 29);
    text-shadow:0 0 10px rgb(155, 229, 205);
}
#roomId{
    outline-style: none;
    border: 0px;
}
.downbill{
    width: 40%;
    height: 50px;
    float: left;
}
#btn2detail{
    margin-right: 5%;
    margin-left: 50%;
    background-color: rgba(215, 248, 200, 0.849);
    border-color: rgb(143, 170, 46);
    border-style: double;
}
#btn2bill{
    background-color: rgba(144, 196, 161, 0.774);
    border-color: rgb(43, 133, 121);
    border-style:  double;
}

#btn2bill, #btn2detail{
	padding: 10px 20px;
    font-size: 16px;    
    float: left;
    text-align: center;
    border-radius: 10px;
}

.showTitle {
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    text-align: center;
    float: left;
    font-size: 30px;
}

.showTitle > span{
    width: 16.5%;
    float: left; 
    list-style: none;
}

.returnStates{
    text-align: center;
    width: 96%;
    padding-left: 2%;
    padding-right: 2%;
    float: left;
    height: 100px;
    font-size: 20px;
}
.returnStates > span{
    background-color: rgb(213, 247, 133);
    float: left;
    width: 16.5%;
    outline-style: none;
    border-radius: 20px;
    padding: 10px 0px;
    
}

.btn{
    width: 100%;
    float: left;
    text-align: center;
}

#btngoSet, #powerOff{
    padding: 15px 32px;
    font-size: 16px;
    background-color: rgb(241, 248, 221);
    text-align: center;
    border-radius: 10px;
    border: thick double;
    border-color: rgb(159, 177, 153);
    outline-style: none;
    margin-right: 40px;
}