body{
    margin: 0px;
    /* background-color: rgb(167, 224, 238); */
    background-image: url(../image/4.png);
    background-size: 100%;
}
header{
    padding-top: 5%;
    height: 20%;
    text-align: center;
    font-size: 70px;
    font-family:'Courier New', Courier, monospace;
    opacity: 1;
}
#tip{
    width: 100%;
    float: left;
    background-color: #ffffff;
    text-align: center;
}
.checkIn{
    padding-top: 5%;
    text-align: center;
}
#inBtn{
    padding: 10px 20px;
    font-size: 16px;    
    background-color: rgb(199, 230, 142);
    text-align: center;
    border: thick double;
    border-color: rgb(144, 202, 126);
    border-radius: 10px;
    outline-style: none;
}